<a href="https://colab.research.google.com/github/Hoangthang017/AI-TEMPO-StrokePrediction/blob/main/model/strokePrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction

# Data Visualization

## Git clone

In [41]:
!git clone https://github.com/Hoangthang017/AI-TEMPO-StrokePrediction.git

fatal: destination path 'AI-TEMPO-StrokePrediction' already exists and is not an empty directory.

In [42]:
!ls AI-TEMPO-StrokePrediction/dataset/train

README.md  train.csv

## import library

In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
from scipy import stats
from scipy.stats import norm
import warnings
warnings.filterwarnings('ignore')

## import data

In [44]:
raw_data=pd.read_csv('AI-TEMPO-StrokePrediction/dataset/train/train.csv')

In [45]:
data=raw_data.copy()
data

         id  gender   age  hypertension  ...   smoking_status blood height stroke
0        77  Female   NaN           0.0  ...          Unknown     O    NaN      0
1        84    Male  55.0           0.0  ...     never smoked     B   1.59      0
2        91  Female  42.0           0.0  ...     never smoked     B    NaN      0
3        99  Female  31.0           0.0  ...          Unknown     O   1.24      0
4       121  Female  38.0           0.0  ...          Unknown     O    NaN      0
...     ...     ...   ...           ...  ...              ...   ...    ...    ...
3995  72867    Male  16.0           0.0  ...          Unknown     B    NaN      0
3996  72882    Male  47.0           0.0  ...  formerly smoked     B   1.79      0
3997  72911   Other  57.0           1.0  ...           smokes    AB   1.15      0
3998  72915  Female  45.0           0.0  ...  formerly smoked     O   1.33      0
3999  72918  Female  53.0           1.0  ...          Unknown     O   1.62      1

[4000 rows x 14 columns]

In [46]:
data.drop(columns=['id'],inplace=True) 
data

      gender   age  hypertension  ...  blood height stroke
0     Female   NaN           0.0  ...      O    NaN      0
1       Male  55.0           0.0  ...      B   1.59      0
2     Female  42.0           0.0  ...      B    NaN      0
3     Female  31.0           0.0  ...      O   1.24      0
4     Female  38.0           0.0  ...      O    NaN      0
...      ...   ...           ...  ...    ...    ...    ...
3995    Male  16.0           0.0  ...      B    NaN      0
3996    Male  47.0           0.0  ...      B   1.79      0
3997   Other  57.0           1.0  ...     AB   1.15      0
3998  Female  45.0           0.0  ...      O   1.33      0
3999  Female  53.0           1.0  ...      O   1.62      1

[4000 rows x 13 columns]

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4000 non-null   object
 1   age                3893 non-null   float64
 2   hypertension       3770 non-null   float64
 3   heart_disease      3910 non-null   float64
 4   ever_married       4000 non-null   object
 5   work_type          4000 non-null   object
 6   Residence_type     4000 non-null   object
 7   avg_glucose_level  3829 non-null   float64
 8   bmi                2884 non-null   float64
 9   smoking_status     4000 non-null   object
 10  blood              3990 non-null   object
 11  height             2928 non-null   float64
 12  stroke             4000 non-null   int64
dtypes: float64(6), int64(1), object(6)
memory usage: 406.4+ KB

In [48]:
data.describe()

               age  hypertension  ...       height       stroke
count  3893.000000   3770.000000  ...  2928.000000  4000.000000
mean     43.071256      0.097613  ...     1.611831     0.032500
std      22.425944      0.296830  ...     0.149053     0.177346
min       0.080000      0.000000  ...     0.910000     0.000000
25%      25.000000      0.000000  ...     1.520000     0.000000
50%      45.000000      0.000000  ...     1.630000     0.000000
75%      61.000000      0.000000  ...     1.722500     0.000000
max      82.000000      1.000000  ...     1.850000     1.000000

[8 rows x 7 columns]

In [50]:
def draw_missing_data_table(data):
    total = data.isnull().sum().sort_values(ascending=False)
    percent = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    return missing_data
draw_missing_data_table(data)

                   Total  Percent
bmi                 1116  0.27900
height              1072  0.26800
hypertension         230  0.05750
avg_glucose_level    171  0.04275
age                  107  0.02675
heart_disease         90  0.02250
blood                 10  0.00250
stroke                 0  0.00000
smoking_status         0  0.00000
Residence_type         0  0.00000
work_type              0  0.00000
ever_married           0  0.00000
gender                 0  0.00000

### ***describe of missing data***
* **bmi**: Chỉ số BMI - Dạng số.
* **height**: Chiều cao bệnh nhân - Dạng số.
* **hypertension**: Tiền sử về cao huyết áp - Dạng số.
* **avg_glucose_level**: Lượng glucose trung bình có trong người - Dạng số.
* **age**: Tuổi bệnh nhân - Dạng số.
* **heart_disease**: Tiền sử bệnh tim - Dạng số.
* **blood**: Nhóm máu của bệnh nhân - Dạng string.

In [58]:
standard_data = data.copy()
standard_data = standard_data.dropna()
standard_data.to_csv('/content/AI-TEMPO-StrokePrediction/dataset/standard_data/standard_data.csv')
standard_data

      gender   age  hypertension  ...  blood height stroke
3     Female  31.0           0.0  ...      O   1.24      0
5     Female  24.0           0.0  ...      B   1.75      0
10    Female  20.0           0.0  ...     AB   1.70      0
14      Male  31.0           0.0  ...      A   1.59      0
15      Male  79.0           0.0  ...      B   1.79      0
...      ...   ...           ...  ...    ...    ...    ...
3990  Female  82.0           0.0  ...      B   1.81      0
3996    Male  47.0           0.0  ...      B   1.79      0
3997   Other  57.0           1.0  ...     AB   1.15      0
3998  Female  45.0           0.0  ...      O   1.33      0
3999  Female  53.0           1.0  ...      O   1.62      1

[1766 rows x 13 columns]